html {
  font-size: 10px;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #6189e8;
  --line-color: #6c6ce6;
  --nav-background-color: #f8f9fa;
  --text-color: #000000;
  --section-content-text: 3rem;
}

.content-text-font {
  font-family: "Public Sans", sans-serif;
}

.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.gap-sm-0 {
  gap: 0 !important;
}
.gap-sm-1 {
  gap: 0.25rem !important;
}
.gap-sm-2 {
  gap: 0.5rem !important;
}
.gap-sm-3 {
  gap: 1rem !important;
}
.gap-sm-4 {
  gap: 1.5rem !important;
}
.gap-sm-5 {
  gap: 3rem !important;
}
/* @media (max-width: 1300px) {
  html {
    font-size: 8px;
  }
} */

.common-social-icons li:hover img {
  filter: brightness(0) invert(1);
}

/*  */
#header {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  font-size: 0;
  display: flex;
  justify-content: center;
}
.header-container {
  max-width: 1440px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* word-wrap: break-word;
  word-break: break-word; */
}
.logo-item {
  width: 25%;
  text-align: center;
}
.logo-title h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.nav-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-container ul {
  display: flex;
  gap: 2.8rem;
}
.nav-container li a {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.nav-items {
  display: flex;
  gap: 2.8rem;
}
.lang-drop-items button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
}
.auth-buttons {
  gap: 1rem;
}
.auth-buttons li a {
  width: 12.1rem;
  height: 4.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  color: var(--text-color);
  border-radius: 1.2rem;
  border: 1px solid #000000;
  transition: 0.3s;
}
.auth-buttons li a:hover {
  background: #000000;
  color: #ffffff;
}
#main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-container {
  max-width: 1440px;
  width: 100%;
  overflow: hidden;
}
.banner-items {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.banner-content {
  position: absolute;
  top: 40%;
  left: 40%;
  display: grid;
  gap: 2rem;
  transform: translate(-50%, -50%);
  text-align: start;
}
.banner-content h3 {
  color: #ffffff;
  font-size: 4.8rem;
  line-height: 5.4rem;
  font-weight: 700;
}
.banner-content span {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
}
.banner-image {
  max-width: 100%;
  width: 1440px;
  background-size: cover;
  background-position: center;
  height: 60rem;
  width: 100%;
  overflow: hidden;
}

.category-section {
  margin-top: 12rem;
  width: 100%;
  text-align: center;
}

.exams-content,
.category-content {
  gap: 1rem;
  display: grid;
}
.exams-content span,
.category-content span {
  font-size: 1.6rem;
}
.category-items {
  width: 100%;
  display: flex;
  justify-content: center;
}
.exams-content h2,
.category-content h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 5.4rem;
}
.category-section {
  height: 40rem;
}
.category-product {
  width: 75rem;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-auto-rows: 10rem;
  gap: 2rem;
  margin-top: 4rem;
}

.category-product > div {
  width: 160px;
  height: 100px;
  background-color: #fafafa;
  box-shadow: 4px 4px 8px 0px #0000000d;
  transition: 0.2s;
  border-radius: 12px;
}
.category-product > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.category-product > div > a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exams-section {
  text-align: center;
  margin-top: 6rem;
}
.exams-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
}
.exams-filter {
  background: #fafafa;
  text-align: start;
  padding: 3rem;
  border-radius: 1.2rem;
}
.exams-list h3 {
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.exams-list span {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.exams-filter ul {
}
.exams-filter li {
  display: grid;
  align-items: center;
  border-radius: 1.2rem;
  height: 4.4rem;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: start;
  padding-left: 1.5rem;
  cursor: pointer;
}
.exams-filter li:hover {
  background: #000000;
  color: #ffffff;
}
.exams-filter > div {
  display: grid;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.exams-filter .labels-item {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.exams-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.exams-card{
  display: block;
  height: 100%;
  width: 100%;
}
.exams-card h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0em;
}
.exams-card-rating {
  display: flex;
}
.exams-card-rating>div:last-child{
  display: flex;
}